<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>ABM Extras</title>
	<meta charset="UTF-8">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
 	<link rel="stylesheet" type="text/css" href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css'>
<!--===============================================================================================-->

</head>
<body>
	<div class="container">
		<br>
		<h2 th:if="${#lists.isEmpty(listaTipoCatering)}">No hay tipos catering</h2>
		<div th:if="${not #lists.isEmpty(listaTipoCatering)}">
			<div class="table-wrapper">
				<div class="table-title mb-4">
					<div class="row">
						<div class="col-md-6">
							<h2>Adminitrar <b> Tipo Catering</b></h2>
						</div>
						<div class="col-md-6 text-end">
							<a th:href="@{/catering}" class="btn btn-primary" data-toggle="modal"><span>Volver</span></a>
							<a th:href="@{/saveTipoCatering/0}" class="btn btn-success" data-toggle="modal"><i class="fas fa-plus-circle"></i> <span>Agregar</span></a>
						</div>
					</div>
				</div>
			
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Nombre</th>
							<th class="text-center">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="tipoCatering : ${listaTipoCatering}">
							<td th:text="${tipoCatering.nombre}"> </td>
							<td class="text-center">
								<a class="mx-2" title="Precio" th:href="@{/saveTipoCateringPrecioConFecha/{id}(id=${tipoCatering.id})}" data-toggle="tooltip"><i class="fas fa-dollar-sign text-success fa-lg"></i></a>
								<a class="mx-2" title="Editar" th:href="@{/saveTipoCatering/{id}(id=${tipoCatering.id})}" data-toggle="tooltip"><i class="fas fa-edit text-warning fa-lg"></i></a>
	                            <a class="mx-2" title="Eliminar" th:href="@{/deleteTipoCatering/{id}(id=${tipoCatering.id})}" th:onclick="if (!(confirm('Quiere eliminar el tipo catering?' ) )) return false" data-toggle="tooltip"><i class="fas fa-trash text-danger fa-lg"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>