<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Usuarios</title>
	<meta charset="UTF-8">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->

</head>
<body>
	<div class="container">
		<br>
		<h2>Agregar Usuario</h2>
		<form action="#" th:action="@{/saveUsuario}" method="post" th:object="${usuario}">
			<input type="hidden" th:field="*{id}" name="id" id="id">
			<div class="form-group">
				<label for="nombre">Nombre</label> 
				<input type="text" class="form-control" id="nombre" th:field="*{nombre}" name="nombre">
			</div>
			<div class="form-group">
				<label for="apellido">Apellido</label> 
				<input type="text" class="form-control" id="apellido" th:field="*{apellido}" name="apellido">
			</div>
			<div class="form-group">
				<label for="nombre_usuario">Nombre de usuario</label> 
				<input type="text" class="form-control" id="nombre_usuario" th:field="*{username}" name="nombre_usuario">
			</div>
			<div class="form-group">
				<label for="password">Contraseña</label> 
				<input type="password" class="form-control" id="password" th:field="*{password}" name="password">
			</div>
			<div class="form-group">
				<label for="repeat_password">Repetir Contraseña</label> 
				<input type="password" class="form-control" id="repeat_password" name="repeat_password">
			</div>
			<div class="form-group">
				<label for="email">E-Mail</label> 
				<input type="text" class="form-control" id="mail" th:field="*{mail}" name="mail">
			</div>
			
			<div class="form-group">
				<label for="rol">Rol</label> 
				<select th:field="*{rol.id}" class="form-select" id="rol">
					<option th:each="rol : ${listaRoles}" th:value="${rol.id}" th:text="${rol.nombre}"/>
				</select>
			</div>
			
			<div class="form-check">
			  	<input class="form-check-input" type="checkbox" value="" th:field="*{accountNonExpired}" id="accountNonExpired">
			  	<label class="form-check-label" for="accountNonExpired"> accountNonExpired </label>
			</div>
			
			<div class="form-check">
			  	<input class="form-check-input" type="checkbox" value="" th:field="*{accountNonLocked}" id="accountNonLocked">
			  	<label class="form-check-label" for="accountNonLocked"> accountNonLocked </label>
			</div>
			
			<div class="form-check">
			  	<input class="form-check-input" type="checkbox" value="" th:field="*{credentialsNonExpired}" id="credentialsNonExpired">
			  	<label class="form-check-label" for="credentialsNonExpired"> credentialsNonExpired </label>
			</div>
		
			<div class="form-check">
			  	<input class="form-check-input" type="checkbox" value="" th:field="*{enabled}" id="enabled">
			  	<label class="form-check-label" for="enabled"> enabled </label>
			</div>
			
			<button type="submit" class="btn btn-success">Guardar</button>
		</form>
	</div>
</body>
</html>