<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>ABM Pagos</title>
	<meta charset="UTF-8">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->

</head>
<body>
	<div class="container">
		<br>
		<h2 th:if="${#lists.isEmpty(listaPago)}">No hay pagos</h2>
		<div th:if="${not #lists.isEmpty(listaPago)}">
			<h2 class="jumbotron text-center">Pagos</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Pago</th>
						<th>Fecha</th>
						<th>Evento</th>
						<th>Evento Fecha</th>
						<th>Usuario</th>
						<th> </th>
						<th> </th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pago : ${listaPago}">
						<td th:text="${pago.pago}"> </td>
						<td th:text="${pago.fecha}"> </td>
						<td th:text="${pago.evento.nombre}"> </td>
						<td th:text="${pago.evento.start_date}"> </td>
						<td th:text="${pago.usuario.username}"> </td>
						<td> </td>
						<td> </td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="container mt-3">
			<div class="gap-2 d-flex justify-content-between">
				<div>
					<a th:href="@{/buscarEvento}" class="btn btn-primary">Agregar</a>
				</div>
				<div>
					<a th:href="@{/administracion}" class="btn btn-primary">Volver</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>