<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Save Pago</title>
	<meta charset="UTF-8">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->

</head>
<body>
	<div class="container">
		<br>
		<h2>Agregar pago</h2>
		<form action="#" th:action="@{/savePago}" method="post" th:object="${pago}">
			<input type="hidden" th:field="*{id}" name="id" id="id">
			
			<div class="form-group">
				<label for="rol">Evento</label> 
                <input type="text" class="form-control" id="evento" th:value="${pago.evento.nombre}" readonly/>
			</div>
			<div class="form-group">
				<label for="rol">Codigo</label> 
                <input type="text" class="form-control" id="evento" th:value="${pago.evento.codigo}" readonly/>
			</div>
			<div class="form-group">
				<label for="rol">Dia evento</label> 
                <input type="text" class="form-control" id="evento" th:value="${pago.evento.startd.getDayOfMonth} + '-' + ${pago.evento.startd.getMonth.getValue} + '-' + ${pago.evento.startd.getYear}" readonly/>
			</div>
			<div class="form-group">
				<label for="pago">Pago</label> 
				<input type="number" class="form-control" id="pago" th:field="*{pago}" name="pago">
			</div>
			<div class="form-group">
				<label for="medioDePago">Medio de pago</label> 
				<select th:field="*{medioDePago.id}" class="form-select" id="medioDePago">
					<option th:each="medioDePago : ${listaMedioDePago}" th:value="${medioDePago.id}" th:text="${medioDePago.nombre}"/>
				</select>
			</div>
		
			<input type="hidden" th:field="*{evento}" th:value="${pago.evento.id}">


			<div class="container mt-3">
				<div class="gap-2 d-flex justify-content-end">
					<div>
						<a th:href="@{${volver}}" class="btn btn-primary">Volver</a>
					</div>
					<div>
						<button type="submit" class="btn btn-success">Guardar</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>