<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Save Sub Tipo Evento</title>
	<meta charset="UTF-8">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->

</head>
<body>
	<div class="container">
		<br>
		<h2>Agregar Sub Tipo de Evento</h2>
		<form action="#" th:action="@{/saveSubTipoEvento}" method="post" th:object="${subTipoEvento}">
			<input type="hidden" th:field="*{id}" name="id" id="id">
			<div class="form-group">
				<label for="nombre">Nombre</label> 
				<input type="text" class="form-control" id="nombre" th:field="*{nombre}" name="nombre">
			</div>
			<div class="form-group">
				<label for="rol">Tipo Evento</label> 
				<select th:field="*{tipoEvento.id}" class="form-select" id="tipoEvento">
					<option th:each="tipoEvento : ${listaTipoEvento}" th:value="${tipoEvento.id}" th:text="${tipoEvento.nombre}"/>
				</select>
			</div>
            <div>
                <input id="duracion" type="hidden" th:field="*{duracion}">
                <label class="form-label w-100">Duracion</label>
               	<div class="d-inline-flex flex-row">
               		<div>
	               		<div class="form-group">
			                <select class="form-control" id="time_start_hour">
			                    <option th:each="hora : ${listaHora}" th:text="${hora}" th:value="${hora}"/>
			                </select>
			         	</div>       
		            </div>
		            <div>
               			<div class="p-1">:</div>
		            </div>
               		<div>
               			<div class="form-group">
			                <select class="form-control" id="time_start_minute">
			                    <option th:each="minuto : ${listaMinuto}" th:text="${minuto}" th:value="${minuto}"/>
			                </select>
		                </div>
		            </div>
              	</div>
            </div>
            <div class="form-check">
			  	<input class="form-check-input" type="checkbox" id="capacidad_variable" th:field="*{capacidad.capacidadVariable}">
				<label for="capacidad_variable">Capacidad variable</label> 
			</div>
			<div class="form-group">
				<label for="capacidad">Capacidad Adultos</label> 
				<input type="number" class="form-control" id="capacidad_adultos" th:field="*{capacidad.capacidadAdultos}">
			</div>
			<div class="form-group">
				<label for="capacidad">Capacidad Niños</label> 
				<input type="number" class="form-control" id="capacidad_ninos" th:field="*{capacidad.capacidadNinos}">
			</div>
			<div class="form-group">
				<label for="cantPersonal">Cantidad de personal base</label> 
				<input type="number" class="form-control" id="cantPersonal" th:field="*{cantPersonal}" name="cantPersonal">
			</div>
			
			<div class="border-top my-3"></div>

			<div class="row text-center">

				<div class="form-group col-2">
					<div>
						<label for="">Año</label>
						<input type="text" id="date1" data-format="YYYY" data-template="YYYY"/>
					</div>

					<div>
						<label for="">Año</label> 
						<input type="text" id="date2" data-format="YYYY" data-template="YYYY"/>
					</div>
				
					<div>
						<label for="">Año</label> 
						<input type="text" id="date3" data-format="YYYY" data-template="YYYY"/>
		        	</div>
				</div>
<!-- de ultima repetir 4 veces sola el bucle -->
				<div class="form-group col-10">
		            <tr th:each="precioConFecha, itemStat : *{listaPrecioConFecha}">
		            	
		            	
		            	<div class="row text-center">
			            	<div class="row col-10">
			            	
			            	
								<div class="form-group col-4">
									<label for="">Precio base</label> 
									<input class="form-control" th:field="*{listaPrecioConFecha[__${itemStat.index}__].precio}" />
			                	</div>
			                	<div class="form-group col-4">
									<label for="">Desde</label> 
						            <input type="text" th:id="${itemStat.index} + 'desde'" data-format="MM" data-template="MMM" th:field="*{listaPrecioConFecha[__${itemStat.index}__].desde}"/>
			                	</div>
								<div class="form-group col-4">
									<label for="">Hasta</label> 
						            <input type="text" th:id="${itemStat.index} + 'hasta'" data-format="MM" data-template="MMM" th:field="*{listaPrecioConFecha[__${itemStat.index}__].hasta}"/>
			                	</div>
		                	</div>
		                </div>
		            </tr>
		    	</div>
           	</div>
			
			<div class="container mt-3">
				<div class="gap-2 d-flex justify-content-end">
					<div>
						<a th:href="@{/abmSubTipoEvento}" class="btn btn-primary">Volver</a>
					</div>
					<div>
						<button type="submit" class="btn btn-success">Guardar</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	
	<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    
    <script src="../vendor/moment/moment.js"></script>
    <script src="../vendor/moment/locale-es.js"></script> 
    <script src="../vendor/combodate/combodate.js"></script>
	<script th:inline="javascript">
		var duracion = /*[[${subTipoEvento.duracion}]]*/ [];
	</script>

	<script src="../js/saveSubTipoEvento.js"></script>


</body>
</html>