<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Save Sub Tipo Evento</title>
	<meta charset="UTF-8">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->

</head>
<body>
	<div class="container">
		<br>
		<h2>Agregar Sub Tipo de Evento</h2>
		<form action="#" th:action="@{/saveSubTipoEvento}" method="post" th:object="${subTipoEvento}">
			<input type="hidden" th:field="*{id}" name="id" id="id">
			<div class="form-group">
				<label for="nombre">Nombre</label> 
				<input type="text" class="form-control" id="nombre" th:field="*{nombre}" name="nombre">
			</div>
			<div class="form-group">
				<label for="rol">Tipo Evento</label> 
				<select th:field="*{tipoEvento.id}" class="form-select" id="tipoEvento">
					<option th:each="tipoEvento : ${listaTipoEvento}" th:value="${tipoEvento.id}" th:text="${tipoEvento.nombre}"/>
				</select>
			</div>
            <div>
                <input id="duracion" type="hidden" th:field="*{duracion}">
                <label class="form-label w-100">Duracion</label>
               	<div class="d-inline-flex flex-row">
               		<div>
	               		<div class="form-group">
			                <select class="form-control" id="time_start_hour">
			                    <option th:each="hora : ${listaHora}" th:text="${hora}" th:value="${hora}"/>
			                </select>
			         	</div>       
		            </div>
		            <div>
               			<div class="p-1">:</div>
		            </div>
               		<div>
               			<div class="form-group">
			                <select class="form-control" id="time_start_minute">
			                    <option th:each="minuto : ${listaMinuto}" th:text="${minuto}" th:value="${minuto}"/>
			                </select>
		                </div>
		            </div>
              	</div>
            </div>
			<div class="form-group">
				<label for="capacidad">Capacidad Adultos</label> 
				<input type="number" class="form-control" id="capacidad_adultos" th:field="*{capacidad_adultos}" name="capacidad_adultos">
			</div>
			<div class="form-group">
				<label for="capacidad">Capacidad Niños</label> 
				<input type="number" class="form-control" id="capacidad_ninos" th:field="*{capacidad_ninos}" name="capacidad_ninos">
			</div>
			<div class="form-group">
				<label for="cantPersonal">Cantidad de personal base</label> 
				<input type="number" class="form-control" id="cantPersonal" th:field="*{cantPersonal}" name="cantPersonal">
			</div>
			<div class="form-group">
				<label for="precioBase">Precio base</label> 
				<input type="number" class="form-control" id="precioBase" th:field="*{precioBase}" name="precioBase">
			</div>
			<div class="container mt-3">
				<div class="gap-2 d-flex justify-content-end">
					<div>
						<a th:href="@{/abmSubTipoEvento}" class="btn btn-primary">Volver</a>
					</div>
					<div>
						<button type="submit" class="btn btn-success">Guardar</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	
	<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

	<script th:inline="javascript">
		var duracion = /*[[${subTipoEvento.duracion}]]*/ [];
	</script>

	<script src="../js/saveSubTipoEvento.js"></script>


</body>
</html>