<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Clientes</title>
	<meta charset="UTF-8">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->

</head>
<body>
	<div class="container">
		<br>
		<h2>Agregar Cliente</h2>
		<form action="#" th:action="@{/saveCliente}" method="post" th:object="${cliente}">
			<input type="hidden" th:field="*{id}" name="id" id="id">
			<div class="form-group">
				<label for="nombre">Nombre</label> 
				<input type="text" class="form-control" id="nombre" th:field="*{nombre}" name="nombre" required>
			</div>
			<div class="form-group">
				<label for="apellido">Apellido</label> 
				<input type="text" class="form-control" id="apellido" th:field="*{apellido}" name="apellido" required>
			</div>
			<div class="form-group">
	  			<label for="sexo">Sexo</label>
                <select class="form-select" id="sexo" th:field="*{sexo}">
                    <option th:each="sexo : ${listaSexo}" th:value="${sexo.id}" th:text="${sexo.nombre}"/>
                </select>
			</div>
			<div class="form-group">
				<label for="email">Cuil</label> 
				<input type="number" class="form-control" id="email" th:field="*{cuil}" name="cuil" required>
			</div>
			<div class="form-group">
				<label for="email">Celular</label> 
				<input type="number" class="form-control" id="celular" th:field="*{celular}" name="celular" required>
			</div>
			<div class="form-group">
				<label for="email">Email</label> 
				<input type="text" class="form-control" id="email" th:field="*{email}" name="email" required>
			</div>

			<div class="container mt-3">
				<div class="gap-2 d-flex justify-content-end">
					<div>
						<a th:href="@{/abmCliente}" class="btn btn-primary">Volver</a>
					</div>
					<div>
						<button type="submit" class="btn btn-success">Guardar</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>