<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>ABM Extras</title>
	<meta charset="UTF-8">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
 	<link rel="stylesheet" type="text/css" href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css'>
<!--===============================================================================================-->
 	<link rel="stylesheet" type="text/css" href='https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css'>
<!--===============================================================================================-->
 	<link rel="stylesheet" type="text/css" href='../css/datatables/datatablesA.css'>
<!--===============================================================================================-->

</head>
<body>
	<section class="m-4">
		<div class="container">
			<h2 th:if="${#lists.isEmpty(listaExtra)}">No hay extras</h2>
			<div th:if="${not #lists.isEmpty(listaExtra)}">
				<div class="table-wrapper">
					<div class="table-title mb-4">
						<div class="row">
							<div class="col-md-6">
								<h2>Adminitrar <b> Extras</b></h2>
							</div>
							<div class="col-md-6 text-end">
								<a th:href="@{/extra}" class="btn btn-primary" data-toggle="modal"><span>Volver</span></a>
								<a th:href="@{/saveExtraSubTipoEvento/0}" class="btn btn-success" data-toggle="modal"><i class="fas fa-plus-circle"></i> <span>Agregar</span></a>
							</div>
						</div>
					</div>
	
					<div class="col-12">
						<div class="row">
							<div class="col-lg-1 col-md-2">
						    	<h5 class="mt-1">Buscar:</h5>
						    </div>
							<div class="col-md-4">
					    		<input class="form-control" type="text" id="filterbox">
	    				    </div>
	    				</div>
				    </div>

					<table id="pagination" class="table table-hover table-bordered">
						<thead>
							<tr>
								<th>Nombre</th>
								<th class="text-center">Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="extra : ${listaExtra}">
								<td th:text="${extra.nombre}"> </td>
								<td class="text-center">
									<a class="mx-2" title="Precio" th:href="@{/saveExtraSubTipoEventoPrecioConFecha/{id}(id=${extra.id})}" data-toggle="tooltip"><i class="fas fa-dollar-sign text-success fa-lg"></i></a>
		                            <a class="mx-2" title="Editar" th:href="@{/saveExtraSubTipoEvento/{id}(id=${extra.id})}" data-toggle="tooltip"><i class="fas fa-edit text-warning fa-lg"></i></a>
		                            <a class="mx-2" title="Eliminar" th:href="@{/deleteExtraSubTipoEvento/{id}(id=${extra.id})}" th:onclick="if (!(confirm('Quiere eliminar el extra?' ) )) return false" data-toggle="tooltip"><i class="fas fa-trash text-danger fa-lg"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	
	<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
  	<script src='https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js'></script>
  	<script src='https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js'></script>
	<script src="../js/pagination.js"></script>

</body>
</html>