<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  lang='es'>
<head>
 	<title>Adminitracion</title>
    <meta charset="utf-8">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	 <link rel="stylesheet" type="text/css" href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css'>
<!--===============================================================================================-->

</head>
<body>
	<section class="m-4">
		<div class="container">
			<form action="#" th:action="@{${action}}" method="post" th:object="${codigoContainer}">
				<div class="row">
					<div class="col-md-6 mb-3">
						<h2 th:text=${titulo}></h2>
					</div>
					<div class="col-md-6 text-end">
						<a th:href="@{${volver}}" class="btn btn-primary" data-toggle="modal"><span>Volver</span></a>
						<button type="submit" class="btn btn-success"><i class="fas fa-plus-circle"></i> <span>Buscar</span></button>
					</div>
				</div>
	
				<div class="form-group">
					<label for="codigo">Codigo Reserva</label> 
					<input type="text" class="form-control" id="codigo" th:field="*{codigo}" name="codigo">
				</div>
				
				<div>
					<div id="comprobanteNoDescargado" class="alert alert-danger d-none">
		  				<strong>Codigo incorrecto!</strong> No se ha encontrado el evento buscado
					</div>
					<div id="comprobanteDescargado" class="alert alert-success d-none" >
		  				<strong>Comprobante descargado</strong>
					</div>
				</div>
			</form>
		</div>
	</section>

    <script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <script th:inline="javascript">
    	var eventoEncontrado = /*[[${eventoEncontrado}]]*/ [];
    </script>

    <script src="../js/evento/buscarEvento.js"></script>

 </body>
 </html>
 