<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Edit Evento</title>
	<meta charset="UTF-8">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->

</head>
<body>
	<div class="container">
		<br>
		<h2>Editar Evento</h2>
		<form action="#" th:action="@{/saveEvento}" method="post" th:object="${reservaContainer}">
			<input type="hidden" th:value="${reservaContainer.evento.subTipoEvento}" th:field="*{evento.subTipoEvento}">
			<input type="hidden" th:value="${reservaContainer.cliente}" th:field="*{cliente}">
			<input type="hidden" th:value="${reservaContainer.evento.id}" th:field="*{evento}">

			<div class="form-group">
				<label for="rol">Evento</label>
                <input type="text" class="form-control" id="evento" th:value="${reservaContainer.evento.nombre}" th:field="*{evento.nombre}" readonly/>
			</div>
			<div class="form-group">
				<label for="rol">Codigo</label>
                <input type="text" class="form-control" id="evento" th:value="${reservaContainer.evento.codigo}" th:field="*{evento.codigo}" readonly/>
			</div>
		    <div class="form-group">
				<label for="rol">Fecha de evento</label>
                <input type="text" class="form-control" id="evento" th:value="${reservaContainer.evento.startd}" th:field="*{fecha}" readonly/>
			</div>
            <div>
                <input id="time_start" type="hidden" th:field="*{inicio}">
                <label class="form-label w-100">Hora inicio</label>
               	<div class="d-inline-flex flex-row">
               		<div>
	               		<div class="form-group">
			                <select class="form-control" id="time_start_hour">
			                    <option th:each="hora : ${listaHora}" th:text="${hora}" th:value="${hora}"/>
			                </select>
			         	</div>       
		            </div>
		            <div>
               			<div class="p-1">:</div>
		            </div>
               		<div>
               			<div class="form-group">
			                <select class="form-control" id="time_start_minute">
			                    <option th:each="minuto : ${listaMinuto}" th:text="${minuto}" th:value="${minuto}"/>
			                </select>
		                </div>
		            </div>
              	</div>
            </div>
	            
            <div id="time_end_div">
            	<input id="time_end" type="hidden" th:field="*{fin}">
                <label class="form-label w-100">Hora final</label>
               	<div class="d-inline-flex flex-row">
               		<div>
	               		<div class="form-group">
			                <select class="form-control" id="time_end_hour">
			                    <option th:each="hora : ${listaHora}" th:text="${hora}" th:value="${hora}"/>
			                </select>
			         	</div>
		            </div>
		            <div>
               			<div class="p-1"> : </div>
		            </div>
		            <div>
               			<div class="form-group">
			                <select class="form-control" id="time_end_minute">
			                    <option th:each="minuto : ${listaMinuto}" th:text="${minuto}" th:value="${minuto}"/>
			                </select>
			         	</div> 
		            </div>
	            </div>
            </div>
            <div class="form-check">
			  	<input class="form-check-input" type="checkbox" id="hastaElOtroDiaCheckbox" th:field="*{hastaElOtroDia}">
			  	<label class="form-check-label" for="hastaElOtroDiaCheckbox"> Dura hasta el otro dia </label>
			</div>
			<div class="form-group">
				<label for="rol">Tipo Evento</label>
                <input type="text" class="form-control" id="evento" th:value="${reservaContainer.evento.subTipoEvento.tipoEvento.nombre}" readonly/>
			</div>
			<div class="form-group">
				<label for="rol">Sub Tipo Evento</label>
                <input type="text" class="form-control" id="evento" th:value="${reservaContainer.evento.subTipoEvento.nombre}" readonly/>
			</div>
			<div id="plato">
				<div class="row">
				    <div class="form-group col-6">
                    	<label for="cantidad_plato_adulto">Cantidad de platos adultos</label>
						<input type="number" class="form-control" id="cantidad_plato_adulto" th:field="*{evento.capacidadYPrecio.capacidadAdultos}" onChange="sumarPresupuesto();">	
					</div>
					<div class="form-group col-6">
	                    <label for="precio_plato_adulto" class="form-label">Precio de platos adultos</label> 
	                    <input type="number" class="form-control" id="precio_plato_adulto" th:field="*{evento.capacidadYPrecio.precioAdultos}" onChange="sumarPresupuesto();">
	                </div>
	            </div>
                <div class="row mt-2">
					<div class="form-group col-6">
                    	<label for="cantidad_plato_nino">Cantidad de platos niños</label>
						<input type="number" class="form-control" id="cantidad_plato_nino" th:field="*{evento.capacidadYPrecio.capacidadNinos}" onChange="sumarPresupuesto();">	
					</div>
					<div class="form-group col-6">
                    	<label for="precio_plato_nino">Precio de platos niños</label>
						<input type="number" class="form-control" id="precio_plato_nino" th:field="*{evento.capacidadYPrecio.precioNinos}" onChange="sumarPresupuesto();">	
					</div>
				</div>
			</div>
			
			<label for="rol">Extras</label>
           	<div class="choose-bank">
	           <th:block th:each="extra : ${listaExtra}">
	                    <div class="form-check extraCheckbox">
						    <input type="checkbox" class="form-check-input" name="extra" th:value="${extra.id}" th:id="'extraId' + ${extra.id}" th:attr="onChange=|changeCheckbox(${extra.precio}, 'extraId' + ${extra.id})|" />
			  				<label class="form-check-label" th:text="${extra.nombre} + ' $' + ${extra.precio}">
			  			</div>
			  	</th:block>
			</div>
			<div class="form-group">
				<label for="rol">Extra otro</label> 
                <input type="number" class="form-control" id="extraOtro" th:field="*{evento.extraOtro}"/>
			</div>
			
			<div class="form-group">
				<label for="rol">Descuento</label> 
                <input type="number" class="form-control" id="descuento" th:field="*{evento.descuento}"/>
			</div>
			<div class="form-group">
				<label for="rol">Presupuesto</label> 
                <input type="number" class="form-control" id="presupuesto" th:field="*{evento.presupuesto}"/>
			</div>

			<div class="container mt-3">
				<div class="gap-2 d-flex justify-content-end">
					<div>
						<a th:href="@{${volver}}" class="btn btn-primary">Volver</a>
					</div>
					<div>
						<button type="submit" class="btn btn-success">Guardar</button>
					</div>
				</div>
			</div>
		</form>
	</div>
    <!-- JS -->
    <script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="../vendor/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="../vendor/jquery-steps/jquery.steps.min.js"></script>

    <script th:inline="javascript">
		var capacidadVariable = /*[[${reservaContainer.evento.subTipoEvento.capacidad.capacidadVariable}]]*/ [];
		var capacidadYPrecio = /*[[${reservaContainer.evento.capacidadYPrecio}]]*/ [];
		var listaExtraSeleccionadas = /*[[${listaExtraSeleccionadas}]]*/ [];
		var listaExtraJS = /*[[${listaExtraJS}]]*/ [];
		var presupuesto = /*[[${reservaContainer.evento.subTipoEvento.precioConFecha}]]*/ [];

	    $(document).ready( function () {
			setPresupuesto();
			setExtrasSeleccionadas();
			setHora();

			function setPresupuesto(){
				var precio = /*[[${reservaContainer.evento.presupuesto}]]*/ [];
				$("#presupuesto").val(precio);
			}
			
			function setExtrasSeleccionadas(){
				listaExtraSeleccionadas.forEach( function(valor, indice, array) {
					var valorId = parseInt(valor.id);
					document.querySelector("#extraId" + valorId).checked = true
				});
			}
		});
		
		// Suma o resta al precio del evento, el precio del extra que haya sido checkeado
		function changeCheckbox(extraValor, extraId) {
		    var decider = document.getElementById(extraId);
			var precio = parseInt($("#presupuesto").val());

		    if(decider.checked){
		        precio += parseInt(extraValor);
		    } else {
		        precio -= parseInt(extraValor);		    
		    }

			$("#presupuesto").val(precio);
		}

	    function setHora() {
			var inicio = /*[[${reservaContainer.inicio}]]*/ [];
			var inicio_array = inicio.split(":");

			var fin = /*[[${reservaContainer.fin}]]*/ [];
			var fin_array = fin.split(":");

			selectPreviusOption("time_start_hour", inicio_array[0]);
			selectPreviusOption("time_start_minute", inicio_array[1]);
			selectPreviusOption("time_end_hour", fin_array[0]);
			selectPreviusOption("time_end_minute", fin_array[1]);
		}

		function selectPreviusOption(elemento, horario){
			var element = document.getElementById(elemento);
			for(var i=0; i < element.options.length; i++){
			    if(element.options[i].value === horario) {
			      element.selectedIndex = i;
			      break;
			    }
			}
		}

	</script>
	
	<script src="../js/editEvento.js"></script>

</body>
</html>