<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Edit Evento</title>
	<meta charset="UTF-8">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->

</head>
<body>
	<div class="container">
		<br>
		<h2>Editar Horario de Evento</h2>
		<form action="#" th:action="@{/saveEventoHora}" method="post" th:object="${reservaContainer}">
			<input type="hidden" th:value="${reservaContainer.evento.subTipoEvento}" th:field="*{evento.subTipoEvento}" id="subTipoEvento">
			<input type="hidden" th:value="${reservaContainer.cliente}" th:field="*{cliente}">
			<input type="hidden" th:value="${reservaContainer.evento.id}" th:field="*{evento}">

			<div class="form-group col-4 mb-3">
				<h5>Evento</h5>
                <input type="text" class="form-control" id="evento" th:value="${reservaContainer.evento.nombre}" readonly/>
			</div>
			<div class="form-group col-4 mb-3">
				<h5>Codigo</h5>
                <input type="text" class="form-control" id="codigo" th:value="${reservaContainer.evento.codigo}" readonly/>
			</div>
		    <div class="form-group col-4 mb-3">
				<h5>Fecha de evento</h5>
                <input type="text" class="form-control" id="date" th:value="${reservaContainer.evento.startd}" th:field="*{fecha}" readonly/>
			</div>
            <div class="form-group col-4 mb-3">
                <input id="time_start" type="hidden" th:field="*{inicio}">
                <h5 class="form-label w-100">Hora inicio</h5>
               	<div class="d-inline-flex flex-row">
               		<div>
	               		<div class="form-group">
			                <select class="form-control" id="time_start_hour">
			                    <option th:each="hora : ${listaHora}" th:text="${hora}" th:value="${hora}"/>
			                </select>
			         	</div>       
		            </div>
		            <div>
               			<div class="p-1">:</div>
		            </div>
               		<div>
               			<div class="form-group">
			                <select class="form-control" id="time_start_minute">
			                    <option th:each="minuto : ${listaMinuto}" th:text="${minuto}" th:value="${minuto}"/>
			                </select>
		                </div>
		            </div>
              	</div>
            </div>
	            
            <div class="form-group col-4 mb-3" id="time_end_div">
            	<input id="time_end" type="hidden" th:field="*{fin}">
                <h5 class="form-label w-100">Hora final</h5>
               	<div class="d-inline-flex flex-row">
               		<div>
	               		<div class="form-group">
			                <select class="form-control" id="time_end_hour">
			                    <option th:each="hora : ${listaHora}" th:text="${hora}" th:value="${hora}"/>
			                </select>
			         	</div>
		            </div>
		            <div>
               			<div class="p-1"> : </div>
		            </div>
		            <div>
               			<div class="form-group">
			                <select class="form-control" id="time_end_minute">
			                    <option th:each="minuto : ${listaMinuto}" th:text="${minuto}" th:value="${minuto}"/>
			                </select>
			         	</div> 
		            </div>
	            </div>
            </div>
            <div class="form-check col-4">
			  	<input class="form-check-input" type="checkbox" id="hastaElOtroDiaCheckbox" th:field="*{hastaElOtroDia}">
			  	<label class="form-check-label" for="hastaElOtroDiaCheckbox"> Dura hasta el otro dia </label>
			</div>
			
			<div class="col-md-8">
        		<div id="fechaNoDisponible" class="d-none">
					<div class="alert alert-danger" role="alert">
						<strong>Fecha no disponible,</strong> Tenga en cuenta que entre evento y evento calcula 1 hora de margen.</p>
					</div>
				</div>
				<div id="fechaDisponible" class="d-none col-md-8">
					<div class="alert alert-success" role="alert"><strong>Fecha disponible</strong></div>
				</div>
				<div id="listaEvento"></div>
			</div>

			<div class="container mt-3">
				<div class="gap-2 d-flex justify-content-end">
					<div>
						<a th:href="@{${volver}}" class="btn btn-primary">Volver</a>
					</div>
					<div>
						<button type="submit" class="btn btn-success">Guardar</button>
					</div>
				</div>
			</div>
		</form>
	</div>
    <!-- JS -->
    <script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="../vendor/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="../vendor/jquery-steps/jquery.steps.min.js"></script>

    <script th:inline="javascript">
		var inicio = /*[[${reservaContainer.inicio}]]*/ [];
	    var fin = /*[[${reservaContainer.fin}]]*/ [];
	</script>
	
	<script src="../js/evento/editEventoHora.js"></script>
	<script src="../js/evento/editEventoHoraAjax.js"></script>

</body>
</html>