<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Edit Evento</title>
	<meta charset="UTF-8">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->

</head>
<body>
	<div class="container">
		<br>
		<h2>Editar Catering del Evento</h2>
		<form action="#" th:action="@{/saveEventoCatering}" method="post" th:object="${reservaContainer}">
			<input type="hidden" th:value="${reservaContainer.evento.subTipoEvento}" th:field="*{evento.subTipoEvento}" id="subTipoEvento">
			<input type="hidden" th:value="${reservaContainer.cliente}" th:field="*{cliente}">
			<input type="hidden" th:value="${reservaContainer.evento.capacidad.capacidadAdultos}" th:field="*{evento.capacidad.capacidadAdultos}" id="cantidad_plato_adulto">

           	<div class="row">
        		<div class="col-md-6">
					<div class="form-group col-8 mb-4">
						<h5>Evento</h5>
		                <input type="text" class="form-control" id="evento" th:value="${reservaContainer.evento.nombre}" th:field="*{evento.nombre}" readonly/>
					</div>
					<div class="form-group col-8">
						<h5>Codigo</h5>
		                <input type="text" class="form-control" id="evento" th:value="${reservaContainer.evento.codigo}" th:field="*{evento.codigo}" readonly/>
					</div>
				   <div class="form-group mt-2">
	                    <input class="form-check-input" type="checkbox" id="catering_checkbox" >
	                    <label class="form-check-label">Agregar servicio de catering</label>
			        </div>
			        <div id="catering_extras">
					    <div class="form-group my-4 extraCheckbox">
							<h5>Tipo Catering</h5> 
		                    <div id="listaTipoCatering"> </div>
						</div>
			
						<div class="form-group col-8">
							<h5>Extras Catering</h5> 
							<div id="listaExtraCatering"> </div>
						</div>
					</div>
				</div>		        
		        
		        <div id="catering" class="col-md-6">
                   	<div class="row">
						<div id="catering_otro" class="col-12">
							<div class="form-group mt-2">
			                    <input class="form-check-input" type="checkbox" value="" id="catering_otro_checkbox">
			                    <label class="form-check-label" for="catering_otro_checkbox"> Catering Otro </label>
			                    <small class="form-text text-muted">(Permite ingresar un precio personalizado de plato)</small>
			                </div>
							<div id="catering_otro_precio" class="form-group col-6">
			                    <label for="precio_plato_adulto" class="form-label">Precio del plato</label>
			                    <div class="input-group mb-2">
			                    	<div class="input-group-prepend">
								    	<div class="input-group-text">$</div>
								    </div>
			                    	<input type="number" class="form-control" id="precio_plato_adulto" th:field="*{evento.catering.canteringOtro}" onChange="sumarPresupuestoCatering();">
			                	</div>
			                </div>
						</div>
					</div>

					<div class="form-group mt-5 col-6">
						<h5 for="rol">Presupuesto</h5> 
						<div class="input-group mb-2">
	                    	<div class="input-group-prepend">
						    	<div class="input-group-text">$</div>
						    </div>
		                	<input type="number" class="form-control" id="presupuesto" th:value="${reservaContainer.evento.catering.presupuesto}" th:field="*{evento.catering.presupuesto}" disabled/>
						</div>
					</div>
				</div>
			</div>

			<div class="container mt-3">
				<div class="gap-2 d-flex justify-content-end">
					<div>
						<a th:href="@{${volver}}" class="btn btn-primary">Volver</a>
					</div>
					<div>
						<button type="submit" class="btn btn-success">Guardar</button>
					</div>
				</div>
			</div>
		</form>
	</div>
    <!-- JS -->
    <script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="../vendor/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="../vendor/jquery-steps/jquery.steps.min.js"></script>

    <script th:inline="javascript">
    	var listaExtraCatering = /*[[${listaExtraCatering}]]*/ [];
    	var listaExtraCateringSeleccionadas = /*[[${listaExtraCateringSeleccionadas}]]*/ [];
		var listaTipoCatering = /*[[${listaTipoCatering}]]*/ [];
		var listaTipoCateringSeleccionadas = /*[[${listaTipoCateringSeleccionadas}]]*/ [];
	</script>

	<script src="../js/evento/editEventoCatering.js"></script>

</body>
</html>