<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Edit Evento</title>
	<meta charset="UTF-8">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->

</head>
<body>
	<div class="container">
		<br>
		<h2>Editar Extras del Evento</h2>
		<form action="#" th:action="@{/saveEvento}" method="post" th:object="${reservaContainer}">
			<input type="hidden" th:value="${reservaContainer.evento.subTipoEvento}" th:field="*{evento.subTipoEvento}" id="subTipoEvento">
			<input type="hidden" th:value="${reservaContainer.cliente}" th:field="*{cliente}">
			<input type="hidden" th:value="${reservaContainer.evento.id}" th:field="*{evento}">

           	<div class="row">
        		<div class="col-md-6">
					<div class="form-group col-8 mb-3">
						<h5>Evento</h5>
		                <input type="text" class="form-control" id="evento" th:value="${reservaContainer.evento.nombre}" th:field="*{evento.nombre}" readonly/>
					</div>
					<div class="form-group col-8 mb-3">
						<h5>Codigo</h5>
		                <input type="text" class="form-control" id="evento" th:value="${reservaContainer.evento.codigo}" th:field="*{evento.codigo}" readonly/>
					</div>
				    
				    <div class="form-group col-8 mb-3 extraCheckbox">
						<h5>Extras fijos</h5> 
			           	<div class="choose-bank">
				           <th:block th:each="extra : ${listaExtra}">
				                    <div class="form-check extraCheckbox">
									    <input type="checkbox" class="form-check-input" name="extra" th:value="${extra.id}" th:id="'extraId' + ${extra.id}" th:attr="onChange=|changeCheckbox(${extra.precio}, 'extraId' + ${extra.id})|" />
						  				<label class="form-check-label" th:text="${extra.nombre} + ' $' + ${extra.precio}">
						  			</div>
						  	</th:block>
						</div>
					</div>
		
					<div class="form-group col-8">
						<h5>Extras variables</h5> 
						<div id="listaExtraVariable"> </div>
					</div>
				</div>		        
		        
		        <div class="col-md-6">
                   	<div class="row">
                   	
	                   	<div class="col-md-6">
							<div class="form-group">
								<h5 for="rol">Extra otro</h5> 
				                <input type="number" class="form-control" id="extraOtro" th:field="*{evento.extraOtro}"/>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<h5 for="rol">Descuento</h5> 
				                <input type="number" class="form-control" id="descuento" th:field="*{evento.descuento}"/>
							</div>
						</div>	
					</div>

					<div class="form-group mt-5 col-6">
						<h5 for="rol">Presupuesto</h5> 
		                <input type="number" class="form-control" id="presupuesto" th:field="*{evento.presupuesto}"/>
					</div>
				</div>
			</div>

			<div class="container mt-3">
				<div class="gap-2 d-flex justify-content-end">
					<div>
						<a th:href="@{${volver}}" class="btn btn-primary">Volver</a>
					</div>
					<div>
						<button type="submit" class="btn btn-success">Guardar</button>
					</div>
				</div>
			</div>
		</form>
	</div>
    <!-- JS -->
    <script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="../vendor/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="../vendor/jquery-steps/jquery.steps.min.js"></script>

    <script th:inline="javascript">
    	var listaExtraVariable = /*[[${listaExtraVariable}]]*/ [];
		var listaExtraSeleccionadas = /*[[${listaExtraSeleccionadas}]]*/ [];
		var listaExtraVariableSeleccionadas = /*[[${listaExtraVariableSeleccionadas}]]*/ [];
		var presupuesto = /*[[${reservaContainer.evento.presupuesto}]]*/ [];
	</script>
	
	<script src="../js/editEventoExtra.js"></script>

</body>
</html>