<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>ABM Extras</title>
	<meta charset="UTF-8">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->

</head>
<body>
	<div class="container">
		<br>
		<h2 th:if="${#lists.isEmpty(listaExtra)}">No hay extras catering</h2>
		<div th:if="${not #lists.isEmpty(listaExtra)}">
			<h2 class="jumbotron text-center">Extras Catering</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Precio</th>
						<th> </th>
						<th> </th>
						<th> </th>
						<th>Editar</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="extra : ${listaExtra}">
						<td th:text="${extra.nombre}"> </td>
						<td th:text="${extra.precio}"> </td>
						<td> </td>
						<td> </td>
						<td> </td>
						<td><a class="btn btn-info" th:href="@{/saveExtraCatering/{id}(id=${extra.id})}">Editar</a></td>
						<td><a class="btn btn-danger" th:href="@{/deleteExtraCatering/{id}(id=${extra.id})}" th:onclick="if (!(confirm('Quiere eliminar el extra catering?' ) )) return false">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="container mt-3">
			<div class="gap-2 d-flex justify-content-end">
				<div>
					<a th:href="@{/catering}" class="btn btn-primary">Volver</a>
				</div>
				<div>
					<a th:href="@{/saveExtraCatering/0}" class="btn btn-success">Agregar</a>
				</div>
			</div>
		</div>

	</div>
</body>
</html>