<!DOCTYPE HTML>
 <html xmlns:th="http://www.thymeleaf.org"  lang='es'>
 <head>
 <title>Adminitracion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->

 	<link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>

 </head>

 <body>
 		
		<section class="pt-5" id="buttons">
			<div class="container">
				<div class="row mb-5">
					<div class="col-md-12 text-center">
						<h2 class="heading-section"> Administración</h2>
					</div>
				</div>

				<div class="row ">
					<div id="usuario" class="col-md-3 mb-3">
						<a type="button" class="btn btn-primary d-flex" th:href="@{/abmUsuario}" >
							<div class="col-8 text-start">
								<h5>Usuarios</h5>
								<span th:text="${cantUsuario} + ' usuarios'"></span>
							</div>
							<div class="col-4 text-center">
								<i class="fas fa-users fa-lg"></i>
							</div>
						</a>
					</div>
					<div id="salon" class="col-md-3 mb-3">
						<a type="button" class="btn btn-primary d-flex" th:href="@{/abmSalon}">
							<div class="col-8 text-start text-start">
								<h5>Salones</h5>
								<span th:text="${cantSalon} + ' salones'"></span>
							</div>
							<div class="col-4 text-center">
								<i class="fas fa-building fa-lg"></i>
							</div>
						</a>
					</div>
					<div id="tipoEvento" class="col-md-3 mb-3">
						<a type="button" class="btn btn-primary d-flex" th:href="@{/abmTipoEvento}">
							<div class="col-8 text-start">
								<h5>Tipo Eventos</h5>
								<span th:text="${cantTipoEvento} + ' tipo eventos'"></span>
							</div>
							<div class="col-4 text-center">
								<i class="fas fa-calendar-week fa-lg"></i>
							</div>
						</a>
					</div>
					<div id="subTipoEvento" class="col-md-3 mb-3">
						<a type="button" class="btn btn-primary d-flex" th:href="@{/abmSubTipoEvento}">
							<div class="col-8 text-start">
								<h5>Sub Tipo eventos</h5>
								<span th:text="${cantSubTipoEvento} + ' sub tipo eventos'"></span>
							</div>
							<div class="col-4 text-center">
								<i class="fas fa-calendar-day fa-lg"></i>
							</div>
						</a>
					</div>
				</div>

				<div class="row">
					<div id="extra" class="col-md-3 mb-3">
						<a type="button" class="btn btn-primary d-flex" th:href="@{/extra}">
							<div class="col-8 text-start">
								<h5>Extras</h5>
								<span th:text="${cantExtra} + ' extras'"></span>
							</div>
							<div class="col-4 text-center">
								<i class="fas fa-calendar-check fa-lg"></i>
							</div>
						</a>
					</div>
					<div class="col-md-3 mb-3">
						<a type="button" class="btn btn-primary d-flex" th:href="@{/abmPago}">
							<div class="col-8 text-start">
								<h5>Pagos</h5>
								<span th:text="${cantPago} + ' pagos'"></span>
							</div>
							<div class="col-4 text-center">
								<i class="fas fa-cash-register fa-lg"></i>
							</div>
						</a>
					</div>
					<div class="col-md-3 mb-3">
						<a type="button" class="btn btn-primary d-flex" th:href="@{/download/0}">
							<div class="col-8 text-start">
								<h5>Comprobantes</h5>
								<span>Descarga compr.</span>
							</div>
							<div class="col-4 text-center">
								<i class="fas fa-cash-register fa-lg"></i>
							</div>
						</a>
					</div>
					<div class="col-md-3 mb-3">
						<a type="button" class="btn btn-primary d-flex" th:href="@{/buscarAllEvento}">
							<div class="col-8 text-start">
								<h5>Buscar Evento</h5>
								<span th:text="${cantEvento} + ' eventos'"></span>
							</div>
							<div class="col-4 text-center">
								<i class="fas fa-search fa-lg"></i>
							</div>
						</a>
					</div>
					<div class="col-md-3 mb-3">
						<a type="button" class="btn btn-primary d-flex" th:href="@{/abmCliente}">
							<div class="col-8 text-start">
								<h5>Clientes</h5>
								<span th:text="${cantCliente} + ' clientes'"></span>
							</div>
							<div class="col-4 text-center">
								<i class="fas fa-search fa-lg"></i>
							</div>
						</a>
					</div>
					<div id="servicio" class="col-md-3 mb-3">
						<a type="button" class="btn btn-primary d-flex" th:href="@{/abmServicio}">
							<div class="col-8 text-start">
								<h5>Servicios</h5>
								<span th:text="${cantServicio} + ' servicios'"> </span>
							</div>
							<div class="col-4 text-center">
								<i class="fas fa-calendar-check fa-lg"></i>
							</div>
						</a>
					</div>
				</div>

				<div>
					<a th:href="@{/abmEvento/} + ${salon.id}" class="btn btn-primary mt-5">Volver</a>
				</div>
			</div>

	  </section>
	  
    <script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
  		var admin = /*[[${admin}]]*/ [];
  	</script>
 
  	<script  src="../js/adm.js"></script>

 </body>
 </html>
 