<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Bootstrap cards responsive</title>
  
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
</head>
<body>
	<div class="container">
  
		<th:block th:each="salon : ${listaSalones}">
	   		<div class="col-md">
		      	<form class="form-horizontal" method="post" th:action="@{/abmEvento/} + ${salon.id}">
		        	<div class="card text-center g-4">
		        	    <div class="card-header">Salones de Eventos</div>
						<div>
							<div class="card-body">
				  				<h5 class="card-title" th:text="${salon.nombre}" />
				  				<p class="card-text" th:text="${salon.nombre}" />
				  				<button class="btn btn-primary form-control" type="submit">Enter</button>
				  			</div>
						</div>
		  			</div>
				</form>
			</div>
		</th:block>
	</div>
</body>
</html>
